*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dadada;
}
.gallery{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.image{
    width: 22%;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.25s;
}
.image:hover img{
    transform: scale(1.2);
}
.view{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    transition: 0.25s;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
}
.view-body{
    width: 70%;
    height: 70%;
    margin: auto;
}
.close-icon{
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 35px;
    cursor: pointer;
}
.control-right,.control-left{
    position: absolute;
    font-size: 45px;
    cursor: pointer;
}
.control-right{
    right: 15px;
}
.control-left{
    left: 15px;
}
.show{
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}
.hiden{
    display: none;
}
.hello{
    width: 0px;
    height: 0px;
    opacity: 0;
}
@media (max-width:1024px){
    .hello{
        display: none;
    }
}